<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Home</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/zephyr/bootstrap.min.css" />
  <style>
    @keyframes scaleIn {
      from {
        transform: scale(1);
      }
      to {
        transform: scale(1.05);
      }
    }
    body {
      background-color: black;
    }

    .card {
      margin-bottom: 20px;
      transition: transform 0.3s;
      animation-fill-mode: forwards;
      max-height: 800px;
    }
    .card:hover {
      animation-name: scaleIn;
    }

    .card-img-top {
      height: 200px;
      object-fit: cover;
    }
    .green{
      background-color: hsl(117, 81%, 45%);
      border-color: hsl(117, 81%, 45%);
      color:black;
    }
    .green:hover{
      background-color: hsl(117, 79%, 31%);
      border-color: hsl(117, 79%, 31%);;
    }
    .purple{
      background-color: hsl(295, 93%, 31%);
      border-color: hsl(295, 93%, 31%);
    }
    .cgreen {
      color: hsl(117, 81%, 45%);
      text-align: justify;
    }
    .blueI {
      background-color: hsl(202, 100%, 92%);
      border-color:hsl(202, 100%, 92%);
    }
    .blueI:hover{
      background-color: hsl(202, 100%, 92%);
      border-color:hsl(202, 100%, 92%);
    }
    .blueB {
      background-color: hsl(184, 85%, 52%);
      border-color:hsl(184, 85%, 52%);
      color:black;
    }
    .blueB:hover{
      background-color: hsl(189, 76%, 47%);
      border-color:hsl(189, 76%, 47%);
    }
    .pink1 {
      background-color: hsl(332, 99%, 61%);
      border-color:hsl(332, 99%, 61%);
      color:black;
    }
    .pink1:hover{
      background-color: hsl(332, 77%, 41%);
      border-color:hsl(332, 77%, 41%);
    }
    .card-text {
      max-height: 4em; /* Establece la altura máxima en 3 líneas de texto */
      overflow-y: auto; /* Agrega una barra de desplazamiento vertical si el contenido excede la altura máxima */
      text-align: justify;
    }
    .form-check-input:checked {
      background-color: #fefa1b; /* Cambia el color de fondo cuando el checkbox está marcado */
      border-color: #fefa1b; /* Cambia el color del borde cuando el checkbox está marcado */
      size: 4em;
    }
    .cyellow {
      color: #fefa1b;
    }
    .cdate {
      color: #75730b;
    }
    .cpink2 {
      color: hsl(332, 100%, 85%);
    }



  </style>
</head>

<body>

  <!--HEADER WITH LOGO, USER AND NAVBAR-->
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="https://lh3.googleusercontent.com/BQ6tACmgRMwmshe0548ghMgf0DrP6dMiMi0c9UqC6jr1DK6K9keI4biW7rHVs1tyq8YXKwQl8NP3kg9GIhjNKxE=w1280" style="width:3em;heigth:3em;" alt="GSTlogo">
        </a>
        <a class="navbar-brand cpink2" href="#">Game Space Tracker</a>

         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/search">Búsquedas</a>
          </li>
        </ul>
      </div>
      </div>
    </nav>
  </header>

  <!--CONTAINER-->
  <div class="container mt-4" style="color: #d3d3d3; padding: 0.5em; text-align: center; width: 50%; margin: 0 auto;">
    <h2 class="mb-4">Búsqueda Dinámica</h2>
    <p class="cgreen" style="text-align:center"><i>Escribe el juego que buscas, conforme escribas se irán desplegando máximo 5 resultados que coincidan con tu búsqueda.</i></p>
  </div>
  <span></span>


<form id="searchForm" action="/searchGame" method="GET" class="mb-3 blueI" style="width:100%;text-align: center; justify-content: center;">
  <input type="text" class="form-control blueI" id="searchInput" name="q" placeholder="Buscar videojuego..." required>
</form>
<div id="searchResults"></div>


<!--
 <form id="searchForm" action="/searchGame" method="GET" class="mb-3">
  <input type="text" class="form-control" id="searchInput" name="q" placeholder="Buscar videojuego..." required>
  <button type="submit" class="btn btn-primary">Buscar</button>
</form>-->


{{#if query}}
<h2>Resultados de la búsqueda para "{{query}}"</h2>
{{/if}}
<div class="container-fluid p-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {{#each games}}
        
        <div class="col">
        <div class="card">
          <img src="{{bkImage}}" class="card-img-top" alt="Videogame Image">
          <div class="card-body">
            <h5 class="card-title">{{name}} {{#if fav}}&#11088;{{/if}}</h5>
            <p class="card-text">{{info}}</p>
            
            <div class="progress blueI">
              <div class="progress-bar progress-bar-striped progress-bar-animated green" role="progressbar"
                          aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{advance}}%">
                          {{advance}}% completed
              </div>
            </div>
            

            <div class="text-center">
              <small class="cdate"><i>Adquirido el {{date}}</i></small>
            </div>
          </div>
          <div class="card-footer text-center">
            <script>const id = </script>
            <a class="btn btn-danger pink1" onclick="confirmationDelete('{{id}}')">Delete</a>
            <a href="/home/editGame/{{id}}" class="btn btn-primary blueB" onclick="toggleContactForm()">Edit</a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
</div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/f7deaf5ab6.js" crossorigin="anonymous"></script>
 <script>
  // Función para realizar la búsqueda y mostrar los resultados
  async function searchGames() {
    const query = document.getElementById('searchInput').value.toLowerCase();
    const response = await fetch(`/searchGame?q=${query}`);
    const games = await response.json();
    renderGames(games);
  }

  // Función para mostrar los resultados de la búsqueda
// Función para mostrar los resultados de la búsqueda

function renderGames(games) {
  const searchResults = document.getElementById('searchResults');
  searchResults.innerHTML = '';
  games.slice(0, 5).forEach(game => {
    const card = document.createElement('div');
    card.classList.add('card');

    const cardBody = document.createElement('div');
    cardBody.classList.add('card-body', 'd-flex'); // Utilizamos flexbox para alinear elementos

    const contentColumn = document.createElement('div');
    contentColumn.classList.add('w-85'); // Columna para el contenido (75% del ancho)

    const cardTitle = document.createElement('h5');
    cardTitle.classList.add('card-title');
    cardTitle.textContent = game.name; // Reemplaza 'name' con la propiedad correcta del objeto 'game'

    const cardText = document.createElement('p');
    cardText.classList.add('card-text');
    cardText.textContent = game.info; // Reemplaza 'info' con la propiedad correcta del objeto 'game'

    const button = document.createElement('a');
    button.classList.add('btn', 'btn-primary', 'blueB');
    button.textContent = 'Ver detalles del juego'; // Texto del botón
    button.href = `/selectedGames/${game.id}`; // Enlace con el id del juego
    button.addEventListener('click', () => {
      window.location.href = button.href; // Redirige al hacer clic en el botón
    });

    contentColumn.appendChild(cardTitle);
    contentColumn.appendChild(cardText);
    contentColumn.appendChild(button);

    cardBody.appendChild(contentColumn);

    card.appendChild(cardBody);

    searchResults.appendChild(card);
  });
}



  // Escuchar el evento de entrada en el campo de búsqueda y llamar a la función de búsqueda
  document.getElementById('searchInput').addEventListener('input', searchGames);
</script>

</body>

</html>
